<h2>Thêm Sản Phẩm</h2>
<div class="form-group">
  <div class="form-row">
     <div class="col">
        <label>Tên sản phẩm</label>
        <input type="text" class="form-control" placeholder="Tên sản phẩm" [(ngModel)]="product.productName"
        [ngModelOptions]="{standalone:true}" required name="">
     </div>
     <div class="col">
        <label>Giá sản phẩm</label>
        <input type="text" class="form-control" placeholder="Giá sản phẩm" [(ngModel)]="product.priceSale"
        [ngModelOptions]= "{standalone: true}"  required name="">
     </div>
  </div>
</div>
<div class="form-group">
  <label>Trạng thái</label>
  <select class="form-control" [(ngModel)]="product.status"
  [ngModelOptions]= "{standalone: true}" >
     <option value="" selected>---</option>
     <option value="true">Còn hàng</option>
     <option value="false">Hết hàng</option>
     <option value="coming">Sắp có</option>
  </select>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Hình ảnh</span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>
<!-- <form>
  <div class="form-group">
    <input type="text"
        class="form-control"
        placeholder="Product Name"
        [(ngModel)]="product.productName"
        [ngModelOptions]="{standalone:true}"
        />
      <input type="number"
        class="form-control"
        placeholder="Price Regular"
        [(ngModel)]="product.priceRegular"
        [ngModelOptions]= "{standalone: true}" 
        />
  </div>
  <button (click) ="addProduct()">Button</button>
</form>
<button (click) = "showMessage()">Show</button> -->
