<div class="card " >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqLFBH81uGGjHBTD8mwWEbrm3RVTQ0CdFTyKheoT8JW5RxEdoU9Q" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">{{product.productName}}</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>{{product.productID}}</p><p> </p><span>100.000d</span> <br>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
